
html{
    font-size: 10;
    font-family: poppins;
}


section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #f6e58d ,#f1c40f, #e67e22 );
    background-size: 300% 300%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

/*.xxx{
    border: 2px solid orange;
}*/

.row{
    padding-top: 30px;
}

.scoreBig{
    font-size: 40px;
}

canvas{
    border: 4px solid white;
    height: 100%;
    width: 100%;
}

a {
    color: #c96e1e;
    text-decoration: none;
}

a:hover 
{
     color: #fff; 
     text-decoration:none; 
     cursor:pointer;  
}

.hraBorder{
    height: 700px;
}

.textBorder{
    font-size: 30px;
}

.BigH2{
    font-size: 60px;
}

.marginTop{
    margin-top: 300px;
}

.marginBot{
    margin-bottom: 100px;
}


.btn{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(-45deg, #e0d081 ,#dab10d, #c96e1e );
    background-size: 300% 300%;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    animation: change 10s ease-in-out infinite;
    outline: none;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #fff;
    outline: none;
}

.textOk{
    text-align: center;
}

.nadpis{
    margin-bottom: 70px;
    padding: 50px;
    font-size: 60px;
    font-weight: bold;

}

.big{
    font-size: 60px;
}


@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}